<h2>Search Author</h2>
<form class="" action="/authors" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name%>">
  <button type="submit" > Search</button>
</form>
<br>
<br>
<% authors.forEach(author => {%>
  <div class="">
    <%= author.name %>
  </div>
<% }) %>
